.article {
  background-color: #f0c050;
  padding: 40px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  border-radius: 10px;
  margin: 20px 0px;
  transition: 0.7s;
  line-height: 2;
  -webkit-box-shadow: 3px 14px 36px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 14px 36px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 14px 36px -6px rgba(0, 0, 0, 0.75);
}
